---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <section class="introduction">
        {{content}}
    </section>
    <section class="shop">
        <ul class="shop-items">
            {%- for item in site.data.gear -%}
            <li class="item">
                <a href="{{ item.link }}" class="link">
                    <h3 class="title"> {{ item.name }} </h3>
                    <div>
                        {{ item.description }}
                    </div>
                    <div class="image-wrapper">
                        <img alt="{{ item.name }}" class="image" src="{{ item.image }}" border="0" />
                    </div>
                </a>
                </img alt="" src="{{ item.tracking }}" width="1" height="1" border="0" alt=""
                    style="border:none !important; margin:0px !important;" />
            </li>
            {%- endfor -%}
        </ul>

    </section>
    <!-- 
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> 
    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%} -->

</div>